@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

:root {
  --clr-primary-light: #eeeeee;
  --clr-primary: #8c8c8c;
  --clr-accent: #929e89;
  --clr-accent-two: #a2c488;
  --clr-accent-three: #d1e2c4;

  --ff-primary: "Alegreya", serif;
  --ff-paragraph: "Montserrat", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// html elements

body {
  overflow-x: hidden;
  font-family: var(--ff-paragraph);
}
button {
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  background: var(--clr-accent);
  transition: background 250ms ease-in-out;
}
button:focus {
  outline: none;
  border: none;
}
button:hover {
  background: var(--clr-accent-two);
}

// functional classes

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.absolute {
  position: absolute;
}
.fas {
  color: var(--clr-primary-light);
}
.flex-row {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.grid-one {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 3em;
}
.grid-two {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 1em;
}
// elemental classes

.main-background {
  padding: 8em 0 8em 0;
  min-height: 100vh;
  background: var(--clr-primary-light);
  .review-container {
    position: relative;
    max-width: 50em;
    width: 90%;
    background: white;
    padding: 1em;
    -webkit-box-shadow: 7px 12px 26px -4px rgba(146, 158, 137, 0.3);
    box-shadow: 7px 12px 26px -4px rgba(146, 158, 137, 0.3);
    .left-btn-container {
      top: 50%;
      left: -1em;
    }
    .right-btn-container {
      top: 50%;
      right: -1em;
    }
    .img-container {
      img {
        max-width: 275px;
        width: 100%;
      }
    }
    .quote-container {
      .top-container {
        img {
          max-width: 50px;
          width: 100%;
        }
        p {
          font-size: 0.8em;
        }
        .quote-1 {
          align-self: start;
          justify-self: end;
        }
        .quote-2 {
          align-self: end;
          justify-self: start;
          transform: scale(-1, 1);
        }
      }
      .bottom-container {
        margin-top: 2em;
        border-top: solid lightgrey 1px;
        width: 60%;
        // text-align: center;
        h3 {
          padding-top: 0.8em;
          font-size: 1.4em;
          color: var(--clr-accent);
        }
        p {
          font-size: 0.8em;
          color: var(--clr-accent);
        }
      }
    }
  }
}
@media (min-width: 650px) {
  button {
    width: 50px;
    height: 50px;
  }
  .main-background {
    .review-container {
      .img-container {
        img {
          max-width: 330px;
        }
      }
      .quote-container {
        .bottom-container {
          border-top: none;
        }
      }
    }
  }
}
@media (min-width: 750px) {
  .grid-one {
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
  }
  .main-background {
    .review-container {
      padding: 3em;
    }
  }
}
