@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');


*{
    margin: 0; 
    padding: 0;
}
body{
    color: #8c8c8c;
    overflow-x: hidden;
}
button:focus{
    outline: none;
}
.main-background{
    background-color: #EEEEEE;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-container{
    width: 70%;
    height: 75vh;
    background: white;
    box-shadow:
        0 1.6px 1.9px rgba(0, 0, 0, 0.02),
        0 3.9px 4.7px rgba(0, 0, 0, 0.028),
        0 7.3px 8.8px rgba(0, 0, 0, 0.035),
        0 13px 15.6px rgba(0, 0, 0, 0.042),
        0 24.2px 29.2px rgba(0, 0, 0, 0.05),
        0 58px 70px rgba(0, 0, 0, 0.07);
    padding: 3rem 3rem;
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
}
.img-container{
    width: 30%;
    /* background: lightblue; */
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform:translateY(-50%);
}
i{
    color: white;
}
.left-btn-container, .right-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5vw;
    height: 3.5vw;
    background: #a2c488;
    /* background: blue; */
    position: absolute;
    cursor: pointer;
    transition: all 0.2s ease;
}
.left-btn-container:hover, .right-btn-container:hover{
    background: #D1E2C4
}
.left-btn-container{
    top: 50%;
    left: 13.3%;
}
.right-btn-container{
    top: 50%;
    right: 13.3%;
}
button{
    outline: none;
    border: none;
}
.portrait{
    max-width: 100%;
}
.text-container{
    /* background: red; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.text-container img{
    max-width: 120px;
    width: 100%;
}
.quotes1-container{
    width: 20%;
    padding-right: 3.5rem;
    /* background: blue; */
    position: relative;
}
.quotes2-container{
    padding-left: 3.5rem;
    width: 20%;
    /* background: blue; */
    position: relative;
}
.quotes2-container img{
    transform: scaleX(-1);
}
.inner-img1-container{
    position: absolute;
    top: 0;
    right: 30%;
}
.inner-img2-container{
    position: absolute;
    left: 30%;
    bottom: 20%;
}
.bio-container{
    /* background: lightcoral; */
    width: 50%;
    padding-top: 6%;
}
.bio-container p{
    font-family: 'Alegreya', sans-serif;
    font-size: 1.1vw;
}
.bio-container h3{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2vw;
    /* color:blue; */
    color: #a2c488;
}
.desc{
    font-size: 1vw;
    font-family: 'Alegreya', sans-serif;
}
.bottom-divider{
    display: none;
}
.right-box{
    /* background: purple; */
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
@media only screen and (max-width: 1000px){
    .right-box{
        padding: 0;
    }
    .img-container{
        position: static;
        top: auto;
        transform: none;
    }
    .bio-container{
        margin-top: 2rem;
    }
    .review-container{
        height: 80%;
    }
    .left-btn-container, .right-btn-container{
        width: 4.5vw;
        height: 4.5vw;
    }
    .bio-container p{
        font-size: 1.3vw;
    }
    .inner-img1-container{
        margin-top: 2rem;
    }
    .desc{
        font-size: 1.3vw;
    }
}
@media only screen and (max-width: 815px){

    .review-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 1rem 1rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding: 2rem;
    }
    .left-btn-container, .right-btn-container{
        width: 6.5vw;
        height: 6.5vw;
    }
    .bio-container{
        min-width: 100%;
        margin-top: 0;
        padding: 0;
    }
    .bio-container p{
        font-size: 2.1vw;
    }
    .bio-container h3{
        font-size: 1.1rem;
    }
    .desc{
        font-size: 2.1vw;
    }
    .right-box{
        margin-top: 3rem;
    }
    .img-container{
        position: static;
        width: 50%;
        top:auto;
        transform: none;
    }
    .bottom-container{
        display: block;
        background: red;
        width: 100%;
        height: 3000px;
    }
    .right-box{
        width: 70%;
        padding: 0;
        text-align: center;
    }
    .inner-img1-container, .inner-img2-container{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    .left-btn-container, .right-btn-container{
        width: 8.5vw;
        height: 8.5vw;
    }
}
@media only screen and (max-width: 500px){
    .bio-container p{
        font-size: 3.1vw;
    }
    .bio-container h3{
        font-size: 5vw;
    }
    .desc{
        font-size: 3.1vw;
    }
}